# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environments
.venv/
venv/

# Python packaging
build/
dist/
*.egg-info/

# Editors
.DS_Store
.vscode/
.idea/

# Data artifacts
data/processed/
data/memory/
data/raw/

# Logs
logs/

